.navbar_container {
display: flex;
align-items: center;
max-height: 45px;
}
.navbar_text{
    padding-top: 15px;
}
.nav_logo{
    width: 50px;
    height: 50px;
}
.nav_link_icon {
display: flex;
align-items: center;
font-size: 25px;
padding-top: 11px;
-webkit-text-stroke: 1px;
}

.img_profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 12px;
}
#basic-nav-dropdown{
    align-self: flex-end;
    padding-top: 14px;

}
@media  screen and (max-width: 992px) {
    .navbar_container {
display: flex;
align-items: center;
max-height: none;
}
.nav_logo{
    width: 30px;
    height: 30px;
}

}